<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ if .IsPage }}{{ .Title }} &#8211; {{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://use.fontawesome.com/0f8027ad69.js"></script>
    {{ partial "header.html" }}
</head>

<body>

    <article>

        {{ block "main" . }}{{ end }} {{ partial "footer.html" . }}

    </article>

    {{ template "_internal/google_analytics_async.html" . }}

</body>

</html>
