/* Cursor blink */
@keyframes blinker { to { opacity: 0; } }
.cursor {
    animation: blinker 0.6s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.social-icons a {
    background: none;
    color: #333;
}