@font-face {
    font-family: 'concourse';
    src: url('/css/fonts/concourse_t3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse';
    src: url('/css/fonts/concourse_t3_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'concourse';
    src: url('/css/fonts/concourse_t3_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'concourse';
    src: url('/css/fonts/concourse_t3_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: triplicate;
    src: url('/css/fonts/triplicate_t4_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: triplicate;
    src: url('/css/fonts/triplicate_t4_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: triplicate;
    src: url('/css/fonts/triplicate_t4_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: triplicate;
    src: url('/css/fonts/triplicate_t4_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */
    font-size: 18px;
    color: #333;
}

body {
    background: #fafafa;
}

.container {
    max-width: 650px;
    margin: 0 auto;
}

article {
    line-height: 1.6;
}

h1, h2, h3, p {
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

h2 {
    margin-top: 2.1rem;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1;
}

a {
    color: #0070c9;
    text-decoration-skip: ink;
}

a[href^="http://"]:after, a[href^="https://"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

a[href*="//jamiecollinson.com/"]:after, a[href*="//localhost:1313/"]:after {
    content: '';
    margin: 0;
}

p {}

ul li {
    list-style: circle;
}

em {
    color: #555;
    font-style: normal;
    font-size: 0.9rem;
}

p img {
    max-width: 100%;
    box-shadow: 0px 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 3px;
}

article {}

code {
    font-family: monospace;
}

p code {
    background-color: #eee;
    padding: 0 0.25rem;
}

blockquote {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.3;
    border-left: 3px solid #ddd;
    padding-left: 3rem;
    margin: 2rem 0 2rem -1.5rem;
}

pre {
    overflow-x: auto;
    padding: 1rem;
    background-color: #fafafa !important;
    border-left: 3px solid #ddd;
    margin-left: -1.5rem;
    padding-left: 3rem;
    line-height: 1.3;
}

.toc {
    position: absolute;
    margin-left: -250px;
    width: 180px;
    color: #777;
    line-height: 1.1;
    display: none;
    font-size: 0.8rem;
}

.toc-list.is-collapsible {
    transition: none;
}

.toc a {
    text-decoration: none;
}

.toc-list-item {
    padding-top: 5px;
}

.toc > .toc-list > .toc-list-item:first-child {
    padding-top: 0;
}

.toc-link.is-active-link {
    color: #333;
    font-weight: inherit;
}

.toc.is-position-fixed {
    margin-top: 50px;
}

.toc .is-active-link::before {
    background-color: #0070c9;
}

/* footnotes / sidenotes */
a[rel=footnote], a.footnote-backref {
    text-decoration: none;
}

.post-sidenote {
    float: right;
    clear: right;
    margin-right: -40%;
    width: 33%;
    margin-top: 0;
    margin-bottom: 1rem;;
    vertical-align: baseline;
    position: relative;
    font-size: 0.8rem;
    line-height: 1.2;
    display: none;
}

.post-sidenote p {
    display: inline;
}

.post-sidenote .footnote-backref {
    display: none;
}

/* Improve superscript / subscript alignment - thanks wikipedia */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

.social a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #444;
    margin-right: 0.1rem;
}

.social a:hover {
    color: #0070c9;
    transition: color 1s;
}

.social a:after {
    content: '';
    margin: 0;
}

.footnotes {
    border-top: 3px solid #eee;
}

.footnotes hr {
    display: none;
}

@media (min-width: 576px) {}

@media (max-width: 768px) {
    p img {
	max-width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	border-radius: 0;
	box-shadow: none;
    }
}

@media (min-width: 768px) {
    /* Hide footnotes and markers */
    sup:after {
	content: "⬦";
    }
    a.footnote-ref, .footnotes {
	display: none;
    }
    /* Show sidenotes */
    .post-sidenote {
	display: inline;
    }
    .post-sidenote:before {
	content: "⬦";
	margin: 0 0.5rem 0 -1.2rem;
    }
    /* Adjust width for 3:1 display */
    .container {
	width: 90%;
	max-width: 900px;
    }
    article {
	width: 75%;
	margin-left: 0;
    }
    pre {
	width: 130%;
    }
    p img {
	max-width: 135%;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    /* Display TOC if body has .has-toc */
    .has-toc .toc {
	display: inline;
    }
    /* Adjust width for 1:2:1 display */
    .has-toc.container {
	max-width: 700px;
    }
    .has-toc article {
	width: 100%;
    }
    .has-toc .post-sidenote {
	width: 30%;
	margin-right: -35%;
    }
}
