<!DOCTYPE html>
<html>

    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ if .IsPage }}{{ .Title }} &#8211; {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="/css/styles.css">

	{{ partial "header.html" }}

        <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>

<body>

    <div class="container {{ if .Params.toc }}has-toc{{ end }}">

	{{ block "top" . }}{{ end }}

      <article class="js-toc-target">

        {{ block "main" . }}{{ end }}

      </article>

      {{ block "footer" . }}{{ end }}

    </div>

    {{ template "_internal/google_analytics_async.html" . }}

</body>

{{ if .Params.toc }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/3.0.5/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/3.0.5/tocbot.css">
<script>
 var initTOC = function() {
     var tocDomRect = document.querySelector('.js-toc').getBoundingClientRect();
     tocbot.init({
	 // Where to render the table of contents.
	 tocSelector: '.js-toc',
	 // Where to grab the headings to build the table of contents.
	 contentSelector: '.js-toc-target',
	 // Which headings to grab inside of the contentSelector element.
	 headingSelector: 'h1, h2, h3',
	 positionFixedSelector: '.js-toc',
	 fixedSidebarOffset: tocDomRect.top - 50,
     });
 };
 initTOC();
 window.onresize = initTOC;
</script>
{{ end }}

<script>
 var post = document.querySelector('body'),
     markers = post.querySelectorAll('sup'),
     footnotes = post.querySelectorAll('.footnotes ol li');

 footnotes.forEach(function(footnote, i) {
     var marker = markers[i];
     marker.insertAdjacentHTML(
	 'afterend',
	 '<aside class="post-sidenote" role="complementary">'
         + footnote.innerHTML
         + '</aside>'
     );
 });
</script>

</html>
